:root {
    --black-bkg: #222222;
    --blacks-bkg: #222224;
    --pink-bkg: #F1E4E6;
    --pink-color: #F18B99;
    --sales-bkg: #4E4544;
    --products-bkg: #F8F8F8;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    padding: 0 16px;
    margin: 0 auto;
}

.all-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);
    position: relative;
}

.header__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
    max-width: 1204px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    margin-left: 32px;
}

.header__search {
    display: flex;
    align-items: center;
    margin: 0 0 0 41px;
}

.header__search-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.header__search-icon {
    fill: #FFFFFF;
    transition: fill 0.5s linear;
}

.header__search-icon:hover,
.header__search-icon:focus {
    fill: #ffe08c;
    cursor: pointer;
    outline: none;
}

.header__search-icon:active {
    fill: #ff8901;
    cursor: pointer;
    outline: none;
}

.header__search-input {
    width: 200px;
    height: 28px;
    border: 0;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 3px;
    background: #302f2f;
    padding-left: 5px;
    margin-left: 5px;
    color: #FFFFFF;
}

.header__search-input:hover {
    outline: 1px solid #ffe08c;
}

.header__search-input:focus {
    outline: 1px solid red;
}

.header__menu-list {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.header__burger {
    border: none;
    background: transparent;
}

.header__burger-icon {
    fill: #FFFFFF;
    transition: fill 0.5s linear;
}

.header__burger-icon:hover,
.header__burger-icon:focus {
    fill: #ffe08c;
    cursor: pointer;
    outline: none;
}

.header__burger-icon:active {
    fill: #ff8901;
    cursor: pointer;
    outline: none;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__person-icon {
    fill: #FFFFFF;
    transition: fill 0.5s linear;
}

.header__person-icon:hover,
.header__person-icon:focus {
    fill: #ffe08c;
}

.header__person-icon:active {
    fill: #ff8901;
}

.header__basket-icon {
    fill: #FFFFFF;
    transition: fill 0.5s linear;
}

.header__basket-icon:hover,
.header__basket-icon:focus {
    fill: #ffe08c;
}

.header__basket-icon:active {
    fill: #ff8901;
}

.header__nav {
    display: none;
    position: absolute;
    width: 232px;
    min-height: 764px;
    right: 0;
    top: 75px;
    background-color: #FFFFFF;
    padding: 0 0 0 34px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 100;
}

.header__burger:hover+.header__nav,
.header .header__burger:focus+.header__nav {
    display: block;
}

.header__nav:focus,
.header__nav:hover {
    display: block;
}

.header__nav-close {
    display: flex;
    flex-direction: row-reverse;
    height: 38px;
}

.header__nav-close-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 16px 16px 0 0;
    cursor: pointer;
}

.header__nav-close-button:hover,
.header__nav-close-button:focus {
    background-color: #222222;
}

.header__nav-close-button:hover>.header__nav-close-img,
.header__nav-close-button:focus>.header__nav-close-img {
    fill: #ffe08c;
}

.header__nav-close-button:active>.header__nav-close-img {
    fill: #ff8901;
}

.header__nav-close-img {
    width: 12px;
    margin: 2px;
    fill: #9F9F9F;
}

.header__nav-title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-style: normal;
    /*
          font-size: 14px;
          line-height: 17px;
          font-weight: 700;
          */
    text-transform: uppercase;
    margin-bottom: 24px;
}

.nav-item__title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 20px;
}

.nav-item__title-link {
    text-decoration: none;
    color: #F16D7F;
}

.nav-item__title-link:hover,
.nav-item__title-link:focus {
    color: #db4c5f;
}

.nav-item__title-link:active {
    color: #ff8901;
}

.nav-item__item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    margin-top: 11px;
    padding-left: 21px;
}

.nav-item__item-link {
    text-decoration: none;
    color: #6F6E6E;
}

.nav-item__item-link:hover,
.nav-item__item-link:focus {
    color: #4e4e4e;
}

.nav-item__item-link:active {
    color: #ff8901;
}

.brand {
    display: flex;
    align-items: center;
    min-height: 363px;
    background-color: var(--pink-bkg);
}

.brand__img {
    width: 50%;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    font-style: normal;
    margin-left: 92px;
    color: var(--black-bkg);
    position: relative;
}

.brand__title:before {
    content: '';
    width: 12px;
    height: 92px;
    position: absolute;
    top: 4px;
    left: -28px;
    background-image: url(../img/rectangle.svg);
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: var(--pink-color);
}

.sales {
    margin-top: 65px;
}

.sales__list {
    display: flex;
    flex-direction: column;
}

.sales__list-wrp {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.sales__item {
    position: relative;
    width: 31%;
    line-height: 0;
    background-color: var(--sales-bkg);
}

.sales__item-img {
    width: 100%;
}

.sales__item-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sales__item-title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.sales__item-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #F16D7F;
}

.sales__item--shoes {
    width: 100%;
    margin-top: 30px;
}

.sales__item-img--shoes {
    width: 100%;
}

.products {
    margin-top: 96px;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    color: #222222;
}

.products__sub-title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    color: #9F9F9F;
    margin-top: 6px;
}

.products__list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products__item {
    width: 360px;
    margin-bottom: 30px;
    background-color: var(--products-bkg);
    position: relative;
}

.products__item-img {
    width: 360px;
}

.products__item-title {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    margin: 24px 18px 0 18px;
}

.products__item-title:hover,
.products__item-title:focus {
    color: #FFE08C;
}

.products__item-title:active {
    color: #FF8901;
}

.products__hover {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 360px;
    height: 420px;
    background: rgba(58, 56, 56, 0.86);
}

.products__hover-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 138px;
    height: 43px;
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.products__hover-img {
    width: 26px;
}

.products__hover-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    color: #FFFFFF;
}

.products__hover-button:hover,
.products__hover-button:focus {
    background-color: rgba(33, 33, 0, 0.5);
}

.products__hover-button:active {
    background-color: rgba(77, 77, 0, 0.7);
}

.products__item:hover>.products__hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__item-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: #5D5D5D;
    margin: 12px 18px 0 18px;
}

.products__item-price {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #F26376;
    margin: 18px;
}

.products__button-wpr {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.products__button {
    height: 47px;
    width: 211px;
    border: 1px solid #FF6A6A;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #F26376;
    text-transform: capitalize;
    cursor: pointer;
}

.products__button:active {
    opacity: 0.5;
}

.products__button:hover,
.products__button:focus {
    background: #FF6A6A;
    color: #FFFFFF;
}

.advantages {
    background-color: var(--blacks-bkg);
    margin-top: 96px;
}

.advantages__wrp {
    min-height: 300px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    min-height: 340px;
    align-items: center;
}

.advantages__item {
    width: 360px;
}

.advantages__item-img {
    width: 50px;
    margin: 0 auto;
}

.advantages__item-img-wpr {
    height: 36px;
    text-align: center;
}

.advantages__item-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-top: 24px;
}

.advantages__item-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    padding: 0 24px;
    margin-top: 16px;
}

.basement {
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.basement__wpr {
    display: flex;
    justify-content: space-between;
}

.basement__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-height: 448px;
    justify-content: center;
}

.basement__wrapper-img {
    width: 96px;
    margin: 0 auto;
    margin-top: 64px;
}

.basement__wrapper-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #222224;
    width: 360px;
    margin-top: 30px;
}

.basement__wrapper-text--italic {
    font-style: italic;
}

.basement__wrapper-title {
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}

.basement__wrapper-sub-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}

.basement__wrapper-form {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.basement__wrapper-form-email {
    width: 256px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px 0 0 25px;
    border: none;
    background-color: #E1E1E1;
    padding-left: 22px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #222224;
}

.basement__wrapper-form-email:focus {
    outline: 1px solid red;
}

.basement__wrapper-form-email:hover {
    outline: 1px solid #ffe08c;
}

.basement__wrapper-form-button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    cursor: pointer;
}

.basement__wrapper-form-button:hover,
.basement__wrapper-form-button:focus {
    background: #FF6A6A;
    color: #FFFFFF;
}

.basement__wrapper-form-button:active {
    opacity: 0.5;
}

.down-footer {
    background-color: var(--blacks-bkg);
}

.down-footer__wpr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-footer__copy {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
}

.down-footer__list {
    display: flex;
    min-height: 79px;
    align-items: center;
}

.down-footer__item {
    margin-left: 7px;
    cursor: pointer;
}

.down-footer__icon-bkg {
    fill: #FFFFFF;
    transition: fill 0.5s ease;
}

.down-footer__icon:hover>.down-footer__icon-simbol,
.down-footer__icon:focus>.down-footer__icon-simbol {
    fill: #FFFFFF;
}

.down-footer__icon:active>.down-footer__icon-simbol {
    fill: #F16D7F;
}

.down-footer__icon:hover>.down-footer__icon-bkg,
.down-footer__icon:focus>.down-footer__icon-bkg {
    fill: #F16D7F;
}

.down-footer__icon:active>.down-footer__icon-bkg {
    fill: #ff8901;
}